.sport {
  padding: 55px 10px 10px 10px;
}

@media only screen and (max-width: @computerBreakpoint) {
  html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.hidden {
	visibility: hidden;
}