<template name="sportfederations">
	<div class="container sport">
		<h4>Перелік спортивних об'єднань</h4>
		<h5><i>Вид спорту</i> {{sport.title}}</h5>
		<table class="ui table striped">
			<thead>
				<tr>
					<th>Назва спортивного об'єднання</th>
					<th>
						<button class="ui button teal pull-right addFederation"><i class="fa fa-plus"></i></button>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each federations}}
					<tr>
						<td>
							<span style="padding-left:{{padding}}0px">
								{{federation.title}}
							</span>
						</td>
						<td>
							<div class="ui buttons pull-right">
								<button class="ui button editFederation"><i class="fa fa-pencil"></i></button>
								<button class="ui button blue lookFederation"><i class="fa fa-eye"></i></button>
								<button class="ui button red removeFederation"><i class="fa fa-trash-o"></i></button>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="modalFederation">
	<i class="close icon cancel"></i>
	<div class="header">
		<p>{{modalTitle}}</p>
	</div>
	<div class="content">
		<div class="description">
			{{#with editFederation}}
				<div class="ui form">
					<div class="ui field">
						<label for="title">В регіоні/населеному пункті</label>
						<select id="region" class="ui dropdown">
							{{#each regions}}
								<option value="{{_id}}" {{isSelRegion}}>{{title}}</option>
							{{/each}}
						</select>
					</div>
					<div class="ui field">
						<label for="title">Назва спортивного об'єднання</label>
						<input type="text" id="title" value="{{title}}">
					</div>
					<div class="ui field">
						<label for="title">Головне об'єднання</label>
						<select id="parent" class="ui dropdown">
							<option value="0" {{isSelParent}}>-----</option>
							{{#each parents}}
								<option value="{{_id}}" {{isSelParent}}>{{title}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			{{/with}}
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveFederation">OK</div>
	</div>
</template>


<template name="modalDeleteFederation">
	<i class="close icon cancel"></i>
	<div class="header">
		<p>
			Видалити спортивне об'єднання
		</p>
	</div>
	<div class="content">
		<div class="description">
			<p>
				{{deleteFederation}}
			</p>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button red deleteFederation">OK</div>
	</div>
</template>
