<template name="federation">
	<div class="container sport">
		<div class="ui grid">
			<div class="four wide column">
				<div class="ui card">
					<div class="image">
						<img src="{{getAvatarURL federation._id}}"/>
					</div>
					{{#if isAdmin}}
						<div class="ui button bottom attached teal changeAvatar">
							Змінити аватарку
						</div>
					{{/if}}
				</div>
				<input class="myAvatarInput" type="file" style="width:0;height:0;">
			</div>
			<div class="twelve wide column">
				<h3 class="ui dividing header">{{federation.title}}</h3>
				<p>
					<b>{{location.title}}</b>
				</p>
				{{#if parent}}
					<p>
						<b><i>Головне об'єднання</i>: {{parent.title}}</b>
					</p>
				{{/if}}
				{{#if isAdmin}}
					<div class="ui form">
						<div class="field">
							<label>Адреса</label>
							<textarea id="address" rows="3">{{federation.address}}</textarea>
						</div>
						<div class="field">
							<label>Телефони</label>
							<input id="phones" value="{{federation.phones}}">
						</div>

					</div>
				{{/if}}
				<br>
				<div class="ui divided segment">
					{{#if isAdmin}}
						<div class="ui right floated button teal addContact">
							Додати контакт
						</div>
					{{/if}}
					<h5 class="ui dividing header">
						Контактні особи
					</h5>
					<div class="ui comments">
						{{#each federation.contacts}}
							<div class="comment" style="cursor:pointer">
								<div class="avatar contact">
									<img src="{{getAvatarURL profileId}}">
								</div>
								<div class="content">
									<div class="contact">
										<b>{{getProfileName profileId}}</b>
										<div class="text">
											<i>{{position}}</i>
										</div>
									</div>
									{{#if isAdmin}}
										<div class="actions">
											<a class="red deleteContact">Видалити контактну особу</a>
										</div>
									{{/if}}
								</div>
							</div>
						{{/each}}
					</div>
				</div>
				<div class="ui divided segment">
					{{#if isAdmin}}
						<div class="ui right floated button teal addGroup">
							Додати групу
						</div>
					{{/if}}
					<h5 class="ui dividing header">
						Групи
					</h5>
					<div class="ui comments">
						{{#each groups}}
							<div class="comment" style="cursor:pointer">
								<div class="content">
									<div class="group">
										<b>{{title}}</b>
										<div class="text">
											Викладачі: 
											{{#each adminIds}}
												<div class="ui image label teacher" style="cursor:pointer;margin-top:10px">
													<img src="{{getAvatarURL this}}">
													{{getProfileName this}}
												</div>
											{{/each}}
										</div>
									</div>
									{{#if isAdmin}}
										<div class="actions">
											<a class="red deleteGroup">Видалити групу</a>
										</div>
									{{/if}}
								</div>
							</div>
							<div class="ui divider"></div>
						{{/each}}
					</div>
				</div>
				{{#if isAdmin}}
					<div class="ui divided segment">
						<div class="ui right floated button teal addRate">
							Додати критерій оцінювання
						</div>
						<h5 class="ui dividing header">
							 Критерії оцінювання
						</h5>
						<div class="ui cards">
							{{#each rates}}
								<div class="card">
									<div class="content">
										<div class="header">
											{{title}}
										</div>
										<div class="meta">
											({{min}} - {{max}})
										</div>
										<div class="description">
											{{description}}
										</div>
										<div class="extra content">
											<a class="deleteRate">Видалити критерій</a>
										</div>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="modalAddContact">
	<i class="close icon cancel"></i>
	<div class="header">
		Додати контактну особу
	</div>
	<div class="content">
		<div class="description">
			<div class="ui segment">
				<div class="ui icon input">
					<input type="text" class="name" id="name1" placeholder="Прізвище...">
					<i class="search icon"></i>
				</div>
				<div class="ui icon input">
					<input type="text" class="name" id="name2" placeholder="Ім'я...">
					<i class="search icon"></i>
				</div>
				<div class="ui icon input">
					<input type="text" class="name" id="name3" placeholder="По батькові...">
					<i class="search icon"></i>
				</div>
				<br>
				{{#each users}}
					<div class="ui image label addContactUser" style="cursor:pointer;margin-top:10px">
						<img src="{{getAvatarURL _id}}">
						{{getProfileName _id}}
					</div>
				{{/each}}
			</div>
			<div class="ui divided items">
				{{#each contacts}}
					<div class="item">
						<div class="ui tiny image">
							<img src="{{getAvatarURL this}}">
						</div>
						<div class="middle aligned content">
							{{getProfileName this}}
							<div class="ui form">
								<div class="field">
									<label>Заповніть посаду</label>
									<input class="{{this}}" type="text">
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveContact">OK</div>
	</div>
</template>

<template name="modalAddGroup">
	<i class="close icon cancel"></i>
	<div class="header">
		Додати групу
	</div>
	<div class="content">
		<div class="description">
			<div class="ui top attached tabular menu">
				<div class="active item" data-tab="info">Інформація</div>
				<div class="item" data-tab="members">Учасники</div>
			</div>
			<div class="ui bottom attached active tab segment" data-tab="info">
				<div class="ui form">
					<div class="field">
						<label>Назва групи</label>
						<input class="title" type="text">
					</div>
					<div class="field">
						<label>Викладачі</label>
					</div>
				</div>
				<div class="ui ">
					{{#each teachers}}
						<div class="ui image teal label" style="cursor:pointer;margin-top:10px">
							<img src="{{getAvatarURL this}}">
							{{getProfileName this}}
							<i class="delete icon deleteTeacher"></i>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="members">
				<div class="ui form">
					<div class="field">
						<label>Учасники</label>
					</div>
				</div>
				<div class="ui divided items">
					{{#each members}}
						<div class="ui image teal label" style="cursor:pointer;margin-top:10px">
							<img src="{{getAvatarURL this}}">
							{{getProfileName this}}
							<i class="delete icon deleteMember"></i>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="ui segment">
				<div class="ui icon input">
					<input type="text" class="name" id="name1" placeholder="Прізвище...">
					<i class="search icon"></i>
				</div>
				<div class="ui icon input">
					<input type="text" class="name" id="name2" placeholder="Ім'я...">
					<i class="search icon"></i>
				</div>
				<div class="ui icon input">
					<input type="text" class="name" id="name3" placeholder="По батькові...">
					<i class="search icon"></i>
				</div>
				<br>
				{{#each users}}
					<div class="ui image label addMembers" style="cursor:pointer;margin-top:10px">
						<img src="{{getAvatarURL _id}}">
						{{getProfileName _id}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveGroup">OK</div>
	</div>
</template>

<template name="modalAddRate">
	<i class="close icon cancel"></i>
	<div class="header">
		Додати критерій оцінювання
	</div>
	<div class="content">
		<div class="description">
			<div class="ui form">
				<div class="field">
					<label>Назва критерію</label>
					<input type="text" id="title">
				</div>
				<div class="field">
					<label>Опис критерію</label>
					<textarea id="description"></textarea>
				</div>
				<div class="two wide fields">
					<div class="field">
						<label>Мін.значення критерію</label>
						<input type="text" id="min">
					</div>
					<div class="field">
						<label>Макс.значення критерію</label>
						<input type="text" id="max">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveRate">OK</div>
	</div>
</template>