<template name="regions">
	<div class="container sport">
		<h4>Перелік регіонів/населених пунктів</h4>
		<table class="ui table striped">
			<thead>
				<tr>
					<th>
						Назва регіону/населеного пункту
					</th>
					<th>
						<button class="ui button teal addRegion pull-right"><i class="fa fa-plus"></i></button>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#if regions}}
					{{#each regions}}
						<tr>
							<td>
								<span style="padding-left:{{padding}}0px">
									{{region.title}}
								</span>
							</td>
							<td>
								<div class="ui buttons pull-right">
									<button class="ui button teal addRegion"><i class="fa fa-plus"></i></button>
									<button class="ui button editRegion"><i class="fa fa-pencil"></i></button>
									<button class="ui button red removeRegion"><i class="fa fa-trash-o"></i></button>
								</div>
							</td>
						</tr>
					{{/each}}
				{{else}}
					Незаповнена база
				{{/if}}
			</tbody>
		</table>
	</div>
</template>

<template name="modalRegion">
	<i class="close icon cancel"></i>
	<div class="header">
		{{modalTitle}}
	</div>
	<div class="content">
		<div class="description">
			{{#with editRegion}}
				<div class="ui form">
					{{#if parent}}
						<div class="field">
							<label for="parent">Батьківський регіон/населений пункт</label>
							<input type="text" id="parent" value="{{parent}}" readonly>
						</div>
					{{/if}}
					<div class="field">
						<label for="title">Назва регіона/населеного пункта</label>
						<input type="text" id="title" value="{{title}}">
					</div>
				</div>
			{{/with}}
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveRegion">OK</div>
	</div>
</template>

<template name="modalDeleteRegion">
	<i class="close icon cancel"></i>
	<div class="header red">
		Видалити регіон/населений пункт
	</div>
	<div class="content red">
		<div class="description">
			<p>
				Чи дійсно бажаєте видалити регіон/населений пункт
			</p>
			<p>
				{{deleteRegion}}
			</p>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button red deleteRegion">OK</div>
	</div>
</template>