<template name="sports">
	<div class="container sport">
		<h4>Перелік видів спорту</h4>
		<table class="ui table striped">
			<thead>
				<tr>
					<th>
						Назва виду спорту
					</th>
					<th>
						<button class="ui button teal pull-right addSport"><i class="fa fa-plus"></i></button>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#if sports.count}}
					{{#each sports}}
						<tr>
							<td>
								{{title}}
							</td>
							<td>
								<div class="ui buttons pull-right">
									<button class="ui button editSport"><i class="fa fa-pencil"></i></button>
									<button class="ui button blue editSportTeam"><i class="fa fa-users"></i></button>
									<button class="ui button red removeSport"><i class="fa fa-trash-o"></i></button>
								</div>
							</td>
						</tr>
					{{/each}}
				{{else}}
					Незаповнена база
				{{/if}}
			</tbody>
		</table>
	</div>
</template>

<template name="modalSport">
	<i class="close icon cancel"></i>
	<div class="header">
		{{modalTitle}}
	</div>
	<div class="content">
		<div class="description">
			{{#with editSport}}
				<div class="ui form">
					<div class="field">
						<label for="title">Назва виду спорту</label>
						<input type="text" id="title" value="{{title}}">
					</div>
				</div>
			{{/with}}
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveSport">OK</div>
	</div>
</template>

<template name="modalDeleteSport">
	<i class="close icon cancel"></i>
	<div class="header red">
		Видалити вид спорту
	</div>
	<div class="content">
		<div class="description">
			<p>
				Чи дійсно бажаєте видалити вид спорту
			</p>
			<p>
				{{deleteSport}}
			</p>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button red deleteSport">OK</div>
	</div>
</template>
