<template name="start">
	<div class="container sport">
		{{ > ReactiveFullcalendar options=calendarOptions }}
	</div>
</template>

<template name="modalAddEvent">
	<i class="close icon cancel"></i>
	<div class="header">
		Додати подію
	</div>
	<div class="content">
		<div class="description">
			<div class="ui form">
				<div class="two fields">
					<div class="field">
						<label for="type">Тип події</label>
						<select id="eventType" class="ui dropdown">
							<option value="0">Оберіть тип події</option>
							{{#each eventTypes}}
								<option value="{{_id}}">{{title}}</option>
							{{/each}}
						</select>
					</div>
					<div class="field">
						<label for="type">Додати новий тип події</label>
						<div class="ui icon input">
							<input type="text" id="eventTypeNew" value="">
							<i class="close icon eraseType"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Опис події</label>
					<textarea id="description">{{description}}</textarea>
				</div>
				<div class="fields">
					<div class="ten wide field">
						<label for="start">Початок події</label>
						<input type="date" id="start" value="{{start}}">
					</div>
					<div class="three wide field">
						<label for="startHour">Годин</label>
						<input type="text" id="startHour" value="{{startHour}}">
					</div>
					<div class="three wide field">
						<label for="startMinute">Хвилин</label>
						<input type="text" id="startMinute" value="{{startMinute}}">
					</div>
				</div>
				<div class="fields">
					<div class="ten wide field">
						<label for="end">Кінець події</label>
						<input type="date" id="end" value="{{end}}">
					</div>
					<div class="three wide field">
						<label for="endHour">Годин</label>
						<input type="text" id="endHour" value="{{endHour}}">
					</div>
					<div class="three wide field">
						<label for="endMinute">Хвилин</label>
						<input type="text" id="endMinute" value="{{endMinute}}">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label for="type">Місце проведення</label>
						<select id="location" class="ui dropdown">
							<option value="0">Оберіть місце проведення</option>
							{{#each locations}}
								<option value="{{_id}}">{{title}}</option>
							{{/each}}
						</select>
					</div>
					<div class="field">
						<label for="type">Додати нове місце</label>
						<div class="ui icon input">
							<input type="text" id="locationNew" value="">
							<i class="close icon eraseLocation"></i>
						</div>
					</div>
				</div>
				<div class="inline field">
					<div class="ui toggle checkbox">
						<input type="checkbox" id="forGroup" value="">
						<label>Визначити учасників</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui button cancel">Cancel</div>
		<div class="ui button teal saveEvent">OK</div>
	</div>
</template>