<template name="layout">
    {{> leftnav}}
    {{> topnav}}
    <div class="pusher">
        {{> yield}}
    </div>
</template>

<template name="confirmationDeleteModal">
    <div class="modal fade" id="confirmationDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        Підтвердження видалення
                    </h4>
                    <div class="modal-body">
                        Чи впевнені, що бажаєте видалити?
                        <br>
                        {{deleteInfo}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger yesDelete">Видалити</button>
                    <button class="btn btn-default reset" data-dismiss="modal">Відмінити</button>
                </div>
            </div>
        </div>
    </div>
</template>
