<template name="leftnav">
    <div class="ui left vertical sidebar menu leftnav">
        <a href="/" class="item brand">
            <i class="fa fa-trophy"></i>
        </a>
        <a class="item" href="{{pathFor 'calendar'}}">
            <i class="calendar icon"></i> Розклад
        </a>
        <a class="item">
            <i class="rocket icon"></i> Мої досягнення 
        </a>
        <a class="item">
            <i class="users icon"></i> Мої групи
        </a>
        <a class="item {{isAdmin}}">
            <i class="configure icon"></i> Адміністрування
        </a>
        <a href="/profile/{{currentUser._id}}" class="item {{isLogin}}">
            <i class="user icon"></i> Профиль
        </a>
        <a class="item logout {{isLogin}}">
            <i class="sign out icon"></i> Вийти
        </a>
    </div>
    <!--nav class="navbar navbar-default navbar-fixed-top visible-sm visible-md visible-lg" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <a class="navbar-brand" href="/"><i class="fa fa-trophy"></i></a>
                <ul class='nav navbar-nav navbar-right'>
                    {{#if isAdmin}}
                        <li class="dropdown">
                            <a href="#" class="data-toggle" data-toggle="dropdown" role="button" aria-expanded="false" alt="Адміністрування">
                                <i class="fa fa-cogs"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/regions">Территоріальні одиниці</a></li>
                                <li><a href="/eventtypes">Види подій</a></li>
                                <li><a href="/sports">Види спорту</a></li>
                            </ul>
                        </li>
                    {{/if}}
                    {{#if currentUser}}
                        <li><a href="/profile/{{currentUser._id}}"><i class="fa fa-user"></i></a></li>
                        <li><a href="/groups"><i class="fa fa-users"></i></a></li>
                    {{/if}}
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <a class="navbar-brand" href="/"><i class="fa fa-trophy"></i></a>
            </div>
        </div>
    </nav-->
</template>

<template name="topnav">
    <div class="ui top attached menu">
        <div class="item toggleLeftnav">
            <i class="content icon"></i>
        </div>
        {{#if currentUser}}
            <div class="item right">
                <span class="text"><img src="{{getAvatarURL currentUser._id}}" class="ui image avatar" style="height:15px;width:15px"> {{getProfileName currentUser._id}}</span>
            </div>
        {{/if}}
    </div>
</template>